<div>

	<form>
	  <input type="text" name="title" placeholder="Title" data-ng-model="song.title" />
	  <input type="text" name="artist" placeholder="Artist" data-ng-model="song.artist" />
	  <input type="text" name="albumArt" placeholder="Album Art" data-ng-model="song.album_art" />
	  <input type="text" name="genre" placeholder="Genre" data-ng-model="song.genre" />
	  <input type="text" name="audioUrl" placeholder="Audio URL" data-ng-model="song.audio_url" />
	  <div ng-show="formType == 'new'">
	  	<button type="button" data-ng-click="create()">Save</button>
	  </div>

	  <div ng-show="formType == 'edit'">
		  <button data-ng-click="update()">Save</button>
		  <button data-ng-click="destroy()">Delete</button>
		 </div>
  </form>

</div>