<h2>Add a Song</h2>

<input type="text" data-ng-model="song.title" />
<label for="title">Title</label>

<input type="text" data-ng-model="song.artist" />
<label for="artist">Artists</label>

<input type="text" data-ng-model="song.genre" />
<label for="genre">Genre</label>

<input type="text" data-ng-model="song.audio_url" />
<label for="audio_url">URL to audio file</label>

<input type="text" data-ng-model="song.album_art" />
<label for="album_art">URL to album cover</label>

<button type="button" data-ng-click="create()">Submit</button>
