body {
  font-family: 'Open Sans', sans-serif;
}
main {
  width: 80%;
}
.album-container {
  display: flex;
  flex-wrap: wrap;
}
.album-cover {
  width: 300px;
  height: 300px;
  background-size: cover;
  margin: 5px;
  border: 1px solid black;
  display: flex;
  align-items: flex-end;
}
.overlay {
  /*position: absolute;*/
  display: flex;
  width: 280px;
  cursor: default;
  padding: 10px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
