.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}
