<form>
  <input type="text" name="title" data-ng-model="song.title" />
  <input type="text" name="artist" data-ng-model="song.artist" />
  <input type="text" name="genre" data-ng-model="song.genre" />
  <input type="text" name="album art" data-ng-model="song.album_art" />
  <div ng-show="formType == 'edit'">
    <button ng-click="update()">Save</button>
    <button ng-click="delete()">Delete</button>
  </div>
  <div ng-show="formType == 'new'">
    <button ng-click="create()">Add Song</button>
  </div>
</form>
