<h1> SONG </h1>

<h2> {{wdiradioShowViewModel.song.aritst}}</h2>
<p> {{wdiradioShowViewModel.song.title}}</p>
<p> {{wdiradioShowViewModel.song.genre}}</p>
<a href="{{wdiradioShowViewModel.song.audio_url}}">Song URL</a>
<img src="{{wdiradioShowViewModel.song.album_art}}">


<h1> Edit The Song/Artist </h1>

<form data-ng-submit="wdiradioShowViewModel.update()">
  <input placeholder="Artist" data-ng-model="wdiradioShowViewModel.song.artist" >
  <input placeholder="Album Art" data-ng-model="wdiradioShowViewModel.song.album_art" >
  <input placeholder="Audio URL" data-ng-model="wdiradioShowViewModel.song.audio_url" >
  <input placeholder="Genre" data-ng-model="wdiradioShowViewModel.song.genre" >
  <input placeholder="Title" data-ng-model="wdiradioShowViewModel.song.title" >
  <button type="submit"> Update </button>
</form>
