<h1>Check Out This Groovy Hit!</h1>

<p>{{vm.song.title}}</p>
<p>By: {{vm.song.artist}}</p>
<p>Genre: {{vm.song.genre}}</p>
<img data-ng-src="{{vm.song.album_art}}" alt = "album art"/>

<h1>Edit this Jam!</h1>

<form data-ng-submit-"vm.update()">
  <input placeholder="Title" data-ng-model="vm.Song.title" />
  <input placeholder="Artist" data-ng-model="vm.Song.artist" />
  <input placeholder="Genre" data-ng-model="vm.Song.genre" />
  <input placeholder="Album Art Url" data-ng-model="vm.Song.album_art" />
  <input placeholder="Audio Url" data-ng-model="vm.Song.audio_url" />
  <button type="submit">Update this Jam!</button>
</form>
<a href="/#/songs">Back Home</a>
