

<section>
  <div class="screen">
    <div class="">
      <form ng-submit="vm.create()">
        <input type="text" placeholder="Title" ng-model="vm.newSong.title">
        <input type="text" placeholder="Artist" ng-model="vm.newSong.artist">
        <input type="text" placeholder="Genre" ng-model="vm.newSong.genre">
        <input type="text" placeholder="Image" ng-model="vm.newSong.song_img">
        <input type="text" placeholder="File" ng-model="vm.newSong.song_file">
        <button type="submit">Add Song</button>
      </form>
    </div>

    <div ng-repeat="song in vm.songs">

      <h3 ng-click="active = !active">{{song.title}}</h3>
      <div ng-show="active" ng-style="{'background-image':'url({{song.song_img}})'}">
        <h4>{{song.artist}}</h4>
        <h4>{{song.genre}}</h4>
        <h4>Play song</h4>
        <button ng-click="showEdit = !showEdit">Edit</button>
        <button ng-click="vm.delete(song)">Delete</button>
        <form ng-show="showEdit">
          <input type="text" placeholder="Title" ng-model="song.title" ng-change="vm.update(song)">
          <input type="text" placeholder="Artist" ng-model="song.artist" ng-change="vm.update(song)">
          <input type="text" placeholder="Genre" ng-model="song.genre" ng-change="vm.update(song)">
          <input type="text" placeholder="Image" ng-model="song.song_img" ng-change="vm.update(song)">
          <input type="text" placeholder="File" ng-model="song.song_file" ng-change="vm.update(song)">
        </form>
      </div>

    </div>

  </div>
</section>
