body {
  text-align: center;
  background-color: black;
  margin: 0 auto;
  color: white;
}

html * {
  font-family: 'Magra';
}

header {
  padding: 30px;
  height: 200px;
  font-size: 40px;
  text-transform: uppercase;
  background-image: url("http://www.pixelstalk.net/wp-content/uploads/2016/05/3D-music-hd-widescreen-desktop-wallpaper.jpeg");
  background-size: cover;
  background-position: bottom;
  color: black;
}

header h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 50px;
  background: white;
  width: 400px;
  margin: 0 auto;
  border: 1px;
  border-radius: 5px;
}

main {
  background-color: rgba(134, 104, 139, 0.4);
  margin: 30px;
  border: 1px;
  border-radius: 5px;
  padding: 5px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

.welcome {
  font-size: 20px;
  margin: 10px;
  color: rgb(186, 221, 198);
}

.songs-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.add {
  text-align: left;
  padding: 10px 0 0 10px;
}

img {
  width: 200px;
}

input {
  display: block;
  margin: 5px auto;
  width: 200px;
  padding: 4px;
}

button {
  padding: 5px;
  margin: 10px 0;
}
