<h2>Songs</h2>

<h4>Add Song</h4>

<form data-ng-submit="SongIndexViewModel.create()">
  <input data-ng-model="SongIndexViewModel.newSong.title" placeholder="Title">
  <input data-ng-model="SongIndexViewModel.newSong.audio_url" placeholder="Song URL">
  <input data-ng-model="SongIndexViewModel.newSong.album_art" placeholder="Album Cover">
  <input data-ng-model="SongIndexViewModel.newSong.artist" placeholder="Artist">
  <input data-ng-model="SongIndexViewModel.newSong.genre" placeholder="Genre">
  <button type="submit">Create</button>
</form>
<hr />
<div data-ng-repeat="song in SongIndexViewModel.songs">
  <div class="song">
  <p>{{song.title}} </p>
  <img data-ng-src="{{song.album_art}}" />
  <button data-ng-click="SongIndexViewModel.delete(song)">Delete</button>
  </div>
</div>
