<h3>All Our Songs</h3>
<h4>So far...</h4>
<a href="#" ng-click="vmAll.hide = !vmAll.hide">Add a Song</a>
<div ng-show="vmAll.hide">
	<form>
		<input type="text" placeholder="Song Title" ng-model="vmAll.newSong.song_title">
		<input type="text" placeholder="Artist" ng-model="vmAll.newSong.artist">
		<input type="text" placeholder="Preview URL" ng-model="vmAll.newSong.preview_url">
		<button ng-click="vmAll.create()">Add the Song!</button>
	</form>
</div>
<div>
	<ul ng-repeat="song in vmAll.songs">
		<a ui-sref="songShow({id: song.id})"><li>{{song.song_title}} by: {{song.artist}} <!-- {{song.preview_url}} --></li></a>
	</ul>
</div>