<h2>Edit {{SongEditViewModel.song.title}}</h2>

<form>
  <input value="SongEditViewModel.song.title" data-ng-model="SongEditViewModel.song.title" />
  <input value="SongEditViewModel.song.artist" data-ng-model="SongEditViewModel.song.artist" />
  <input value="SongEditViewModel.song.album_art" data-ng-model="SongEditViewModel.song.album_art" />
  <textarea value="SongEditViewModel.song.audio_url" data-ng-model="SongEditViewModel.song.audio_url"></textarea>
  <button type="button" data-ng-click="SongEditViewModel.update()">Edit</button>
  <button type="button" data-ng-click="SongEditViewModel.destroy()">Delete Song</button>
</form>
