<h2>Edit {{SongEditVM.song.title}}</h2>

 <form>
   <input value="SongEditVM.song.title" data-ng-model="SongEditVM.song.title" />
   <input value="SongEditVM.song.audio_url" data-ng-model="SongEditVM.song.audio_url" />
   <input value="SongEditVM.song.album_art" data-ng-model="SongEditVM.song.album_art" />
   <input value="SongEditVM.song.artist" data-ng-model="SongEditVM.song.artist" />
   <input value="SongEditVM.song.genre" data-ng-model="SongEditVM.song.genre" />
   <button type="button" data-ng-click="SongEditVM.update()">Update</button>
 </form>
